@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ASP_Project.Data.Models.CreatingOrder;
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <title>Магазин квітів</title>
</head>
<body>
    <h1>Замовлення оформлено</h1>
    <a class="nav-link" href="@Url.Action("Index","Category")" class="btn" style="color: #2F1452;">Повернутися на головну</a>
    <script src="./js/bootstrap.min.js"></script>
</body>
